<% if current_user %>
	<h1 style="color:white;" class="text-center">All Currently Open Projects</h1>
	<% @project.each do |p| %>
		<div class="panel panel-info col-lg-3 col-md-4 col-sm-4 col-xs-12 text-center">
			<div class="panel-heading">
				<h4><u><%= p.name %></u></h4>
			</div>
			<div class="panel-body">
				<div class="center"><%= image_tag p.image.url(:small) %></div><hr />
				<div class="progress">
  				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= p.progress %>%">
    				<%= p.progress.to_i %>% Funded
  				</div>
				</div>
				<%= link_to 'Show Details', "/projects/#{p.id}", class: "btn btn-default" %>
			</div>
		</div>
	<% end %>

<% else %>
	
	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>CrowdFunder welcomes u :)</h1>
        <p>This website was designed and built for you..... literally for you. You post up a project and 
        let the people decide if they think it's worth it to donate</p>
        <p><a class="btn btn-primary btn-lg" href="users/new" role="button">Sign up now &raquo;</a></p>
      </div>
    </div>

    <div class="container well">
      <div class="row">
        <div class="col-md-4">
          <h2>Purpose</h2>
          <p>This app is used to attempt funding on a project of your choice.</p>
        </div>
        <div class="col-md-4">
          <h2>Get Started Today</h2>
          <p>To start actually using this application, you need to sign up. It's very straight forward and simple to understand, and i promise no request for credit cards will be present during the signup process.</p>
          <%= link_to 'Get Started', "/users/new", class: "btn btn-default" %>
       </div>
        <div class="col-md-4">
          <h2>Awesomeness</h2>
          <p>This app has alot of features that allow a regular average joe to recieve funding on a project of his/her interest or desire.</p>
        </div>
      </div>
<% end %>