<div class="pull-right well">
	<h1>Create a new project</h1>
	<% if current_user %>
		<%= form_for @project, html: { multipart: true } do |f| %>
			<form>
				<div>
					<%= f.text_field :name, placeholder: "Project Name" %>
				</div><br>
				<div>
					<%= f.file_field :image %>
				</div>
				<div class="">
					<%= f.select :category_id, Category.all.map{|c| [c.name, c.id]} %>
				</div><br>
				<div>
					<%= f.text_area :description, placeholder: "Project Description" %>
				</div>

				<h2>Rewards</h2>
					<%= f.fields_for :rewards do |rewards_form| %>
						<%= render 'reward_fields', f: rewards_form %>
					<% end %>

					<div class="links">
	      		<%= link_to_add_association 'add reward', f, :rewards %>
	    		</div>

				<%= f.submit %>
			</form>
		<% end %>
	<% else %>
		<h1 class="text-center">Please log in to make a new project </h1>
	<% end %>
</div>