<div class="text-center well">
	<h1>Create a new project</h1>

	<%= form_for @project do |f| %>
		<form>
			<div>
				<%= f.text_field :name, placeholder: "Project Name" %>
			</div><br>
			<div>
				<%= f.text_area :description, placeholder: "Project Description" %>
			</div>

			<h2>Rewards</h2>
				<%= f.fields_for :rewards do |rewards_form| %>

				<% end %>

				
			<%= f.submit %>
		</form>
	<% end %>
</div>