<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>

<div class="well clearfix text-center">
	<h1>Details Page</h1><hr />
	
	<div class="thumbnail" style="background-color: grey;">
		<h1><%= @project.name %></h1>
		<%= image_tag @project.image.url(:med) %>
	</div>

	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Description</h3>
		</div>
		<div class="panel-body">
			<%= @project.description %><br>
			Funding Goal: <%= number_to_currency @project.funding_goal %><br>
			Remaining Amount: <%= number_to_currency @project.amount_remaining %>
		</div>
	</div>
	
	<%= render @project.rewards %>

</div>